/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.scsu-help-link {
    font-style: italic;
    color: #990000;
    float: left;
}

#milescombo {
    width: 100px;
}

/* CSS Document */
.scsu-shell-width {
	width: 100%;
}
#scsuSubsiteArea {
	/*margin-top: 10px !important;*/
}


/* Temporary fix for old scsu header */
.header-nav ul.menu {
	margin-top: 50px !important;
}


#header {
	/*background-image: url(../images/header_stretch.jpg);
	background-repeat: repeat-x;*/
	width: 100%;
	/*min-width: 695px;*/
	/*height: 82px;*/
}

#nav {
	width: 128px;
	/*float: left;*/
	position: relative;
	float: left;
	left: 0px;
	clear: left;
}
#nav ul {
	margin: 0px 7px 0px 10px;
	padding: 0px;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: .75em;*/
	font-size: 75%;
	font-weight: bold;
}
#nav li {
	padding: 4px 0px 6px 0px;
	border-bottom: 1px solid #BDC2A9;
}
#nav a {
	padding: 3px 0px 3px 3px;
	text-decoration: none;
	display: block;
}
#nav a:hover {
	background-color: #EDEEE8;
}
#nav .ed a {
	color: #663366;
}
#nav .job a {
	color: #CC6600;
}
#nav .intern a {
	color: #006666;
}
#nav .back a {
	color: #0564B8;
}
#nav .back li {
	border-bottom: 1px solid #FFFFFF;
}
#nav .back a:hover {
	background-color: #ECF3FA;
}

#content {
	border-left: 1px solid #BDC2A9;
	padding: 0px 10px 0px 10px;
	margin-left: 128px;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: .8em;*/
}
#content h1 {
	margin-top: 0px;
	padding-top: 8px;
	/*font-size: 1em;*/
	font-size: 100%;
	color: #0564B8;
}
#content h2 {
	/*font-size: 1em;*/
	font-size: 100%;
}
#content h2.tagline, #content .tagline {
	margin: 0px 10% 10px 10%;
	text-align: center;
	/*font-size: .8em;*/
	font-size: 80%;
	border: 1px dashed #0564B8;
	padding: 10px;
}
#content p {
	/*font-size: .8em;*/
	/*font-size: 80%;*/
}
#content a {
	color: #990000;
}
#content a:hover {
	text-decoration: none;
}
#content li {
	/*font-size: 80%;*/
}
#content li p {
	font-size: 100%;
}

#faq ul {
	list-style-type: none;
}
#faq h2 {
	color: #0564B8;
}
#faq p {
	margin-left: 10px;
}
.top {
	float: right;
	/*font-size: .8em;*/
	/*font-size: 80%;*/
}
/* Listings */
#listingshead {
	min-width: 270px;
}
#listingshead a {
	color: #990000;
	text-decoration: none;
}
#listingshead a:hover {
	color: #8B8E7B;
	text-decoration: underline;
}
#listingshead a:visited {
	color: #990000;
}

#listingshead form {
	/*background-color: #DFE1D5;*/
	border: 1px solid #c3c3ae;
	margin: 4px 20px;
	text-align: center;
	/*height: 90px;*/
}
#listingshead form p {
	padding: 1px 15px 1px 15px;
	margin: 5px;
	/*font-size: .8em;
	font-size: 75%;
	line-height: 25px;*/
}
#listingshead h1 {
	text-align: left;
	/*font-size: .8em;*/
	font-size: 75%;
	margin: 0px;
	background-color: #BCC0A7;
	padding: 2px;
	color: #333333;
}
#listingshead .viewby {
	/*display: block;
	float: left;*/
	line-height: 1.6em;
	margin-top: 10px;
}
#listingshead .search {
	margin-top: 5px;
}

#listings p {
	margin: 0px;
	padding: 0px;
}
#listings ul {
	/*list-style-type: none;*/
	text-align: left;
	padding-left: 15px;
	margin-left: 15px;
	margin-top: 0px;
	padding-top: 0px;
}
#listings li  {
	padding-right: 2em;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: .85em;
	/*font-size: 70%;*/
	clear: left;
	font-style: italic;
	color: #666666;
	padding-top: 3px;
	_padding-top: 3px;
}
#listings .currently {
	text-align: right;
	font-weight: bold;
	margin: 10px 30px 10px 0px;
}

#listings .jobtitle {
	width: 75%;
	font-weight: bold;
	display: block;
	float: left;
	margin-right: 3px;
}
#listings a.jobtitle {
	color: #990000;
	text-decoration: none;
	font-style: normal;
	position: relative; /* 070917 */
}
#listings a.jobtitle:visited {
	/*color: #448ECD;*/
	color: #8B8E7B;
}
#listings a.jobtitle:hover  {
	color: #8B8E7B;
	text-decoration: underline;
}
.disclaimer {
	/*font-size: .8em;*/
	font-size: 75%;
	color: #333333;
	border-top: 1px solid #CCCCCC;
	margin-top: 25px;
	padding-top: 2px;
}

/* Display Record */
#listings #displayBlock li {
    font-family : inherit;
	font-size: 1em;
	clear: left;
	font-style: normal;
	color: #000;
	padding-top: 0;
}
.prevnext {
	text-align: center;
	font-size: .85em;
	/*font-size: 75%;*/
}
.greyout {
	color: #666666;
}

#jobhead .title {
	/*font-weight: bold;*/
	margin: 5px 0px;
	color: #000;
}
#jobhead .posted {
	/*font-size: .8em;*/
	font-size: 75%;
	margin: 0px;
	color: #8B8E7B;
}
#jobhead .expire {
	/*font-size: .8em;*/
	font-size: 75%;
	margin: 0px;
	color: #BCC0A7;
}
#jobhead .texthtml {
	float: right;
	margin-top: -20px;
	/*font-size: .75em;*/
	font-size: 75%;
}

/* Other styles */
.help-link {
    font-style: italic;
}

/* Popup */
.scsu-popup-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.scsu-popup-overlay .scsu-popup-cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.scsu-popup-overlay:target {
  visibility: visible;
  opacity: 1;
}

.scsu-popup-overlay:target:before {
  display: none;
}
.scsu-popup-overlay:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}


.scsu-popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #8B8E7B;
  width: 300px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}
.scsu-popup h2 {
  margin-top: 0;
  color: #8B8E7B;
}
.scsu-popup .scsu-popup-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #8B8E7B;
}
.scsu-popup .scsu-popup-close:hover {
  color: #990000;
}
.scsu-popup .scsu-popup-content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .scsu-popup-overlay .scsu-popup {
    width: 70%;
    left: 15%;
  }
}


/* Pagination */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #990000;
    border-color: #990000;
    color: #fff !important;
}




.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding:5px 10px;
    font-size:10px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #eeeeee;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #999999;
    cursor: not-allowed;
    background-color: #ffffff;
    border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.pager:before,
.pager:after {
    display: table;
    content: " ";
}


.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
    float: right;
}

.pager .previous > a,
.pager .previous > span {
    float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #999999;
    cursor: not-allowed;
    background-color: #ffffff;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}